$body-color:  #333;
$body-bg: #f2f2f2;
$light : #79766b;
@import '~bootstrap/scss/bootstrap.scss';

.navbar-brand {
  background-color: $dark;
  img {
    height: 45px;
  }
}
.dropdown-menu {
  background-color: $light;
}